//sizes
$padding-1:2px;
$padding-2:4px;
$padding-3:6px;
$padding-4:8px;
$padding-5:10px;
$padding-6:16px;

$margin-1:2px;
$margin-2:4px;
$margin-3:6px;
$margin-4:8px;
$margin-5:10px;
$margin-6:16px;

$radius-1:2px;
$radius-2:6px;
$radius-3:10px;
$radius-4:14px;
$radius-5:18px;
$radius-6:25px;

$transition-1:.1s;
$transition-2:.3s;
$transition-3:.5s;
$transition-4:.7s;
$transition-5:.9s;
$transition-6:1.1s;

//colors
$snow:#000;
$wolf:#000;
$banana:#000;
$dragon:#000;
$turtle:#000;